.starting-grid{
  margin: auto;
  width: 90%;
}

.nameplate-container {
  margin-bottom: 1rem;
  padding: 0;
  font-family: 'Mukta', sans-serif, serif;
  background-color: black;
  color: white;
  border-radius: 1.6px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: skewX(-20deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  height: 72px;
  width: 480px;
  overflow: hidden;
  position: relative;
  display: grid; 
  grid-template-columns: 0.4fr 2.2fr 0.8fr 0.6fr; 
  grid-template-rows: 1.4fr 0.6fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "nameplate-number-container nameplate-drivername-container nameplate-country-container nameplate-constructor-logo-container"
    "nameplate-number-container nameplate-constructor-container nameplate-constructor-container nameplate-constructor-container"; 
}

.nameplate-container p {
  transform: skewX(20deg);
  margin: 0;
}

.nameplate-number-container { 
  grid-area: nameplate-number-container;
  background-color: #ac1e16;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.nameplate-number {
  font-size: 26px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.nameplate-drivername-container { 
  grid-area: nameplate-drivername-container; 
  display: flex;
  align-items: center;
}

.nameplate-drivername {
  padding-left: 10px;
  padding-top: 2px;
  font-size: 28px;
  font-weight: 600;
}

.nameplate-constructor-container { 
  grid-area: nameplate-constructor-container;
  background-color: #696969; 
  display: flex;
  align-items: center;
}

.nameplate-constructor { 
  padding-left: 10px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.nameplate-country-container{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: crisp-edges;
}

.nameplate-constructor-logo-container { 
  grid-area: nameplate-constructor-logo-container; 
  background-color: #d4d4d4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nameplate-constructor-logo {
  max-height: 44px;
  max-width: 56px;
  transform: skewX(20deg);
}