.starting-grid{
  width: 90%;
  display: flex;
  flex-direction: column;
}


.complete-container {
  display: grid;
  gap: 2px 10px; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  grid-template-areas: 
  "nameplate-container nameplate-swap-points-container"
  "nameplate-container nameplate-swap-car-container";
  margin-bottom: 25px;
  margin-left: 100px;
  margin-right: 100px;
}

.complete-container:nth-child(even){
  grid-template-areas: 
  "nameplate-swap-points-container nameplate-container"
  "nameplate-swap-car-container nameplate-container";
}

.complete-container:nth-child(even) > .nameplate-swap-car-container, .complete-container:nth-child(even) > .nameplate-swap-points-container{
  margin-left: auto;
  margin-right: 20px;
}

.nameplate-container {
  grid-area: nameplate-container;
  padding: 0;
  font-family: 'Mukta', sans-serif, serif;
  background-color: black;
  color: white;
  border-radius: 1.6px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: skewX(-20deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  height: 72px;
  width: 480px;
  overflow: hidden;
  position: relative;
  display: grid; 
  grid-template-columns: 0.4fr 2.2fr 0.8fr 0.6fr; 
  grid-template-rows: 1.4fr 0.6fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "nameplate-number-container nameplate-drivername-container nameplate-country-container nameplate-constructor-logo-container"
    "nameplate-number-container nameplate-constructor-container nameplate-constructor-container nameplate-constructor-container"; 
}

.nameplate-container p, span {
  transform: skewX(20deg);
  margin: 0;
}

.nameplate-number-container { 
  grid-area: nameplate-number-container;
  background-color: #ac1e16;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.nameplate-number {
  font-size: 26px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.nameplate-drivername-container { 
  grid-area: nameplate-drivername-container; 
  display: flex;
  align-items: center;
}

.nameplate-drivername {
  padding-left: 10px;
  padding-top: 2px;
  font-size: 28px;
  font-weight: 600;
}


@keyframes glow {
  from {
    background-color: #af0900;
  }
  to {
    background-color: #521512;
  }
}

.nameplate-points-swap-victim-container {
  padding: 2px 24px 2px 10px;
  margin-left: 5px;
  border-radius: 4px 0;
  color: #fff;
  position: absolute;
  right: -8px;
  font-size: 14px;
  font-weight: 700;
  animation: glow 1s infinite alternate;
}

.nameplate-points-swap-victim {
  transform: skew(-20deg);
}



.nameplate-constructor-container { 
  grid-area: nameplate-constructor-container;
  background-color: #696969; 
  display: flex;
  align-items: center;
}

.nameplate-constructor { 
  padding-left: 10px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.nameplate-country-container{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: crisp-edges;
}

.nameplate-constructor-logo-container { 
  grid-area: nameplate-constructor-logo-container; 
  background-color: #d4d4d4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nameplate-constructor-logo {
  max-height: 44px;
  max-width: 56px;
  transform: skewX(20deg);
}

.nameplate-swap-points-container, .nameplate-swap-car-container {
  margin-left: 20px;
  margin-right: auto;
  color: black;
  border-radius: 8px;
  padding: 4px 10px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.nameplate-swap-points-container:hover, .nameplate-swap-car-container:hover {
  cursor: pointer;
}

.nameplate-swap-points-container{
  grid-area: nameplate-swap-points-container;
  background-color: #ac1e16;
  color: #fff;
}

.nameplate-swap-points-container:hover{
  background-color: #d60019
}

.nameplate-swap-car-container{
  grid-area: nameplate-swap-car-container;
  background-color: #00b3c6;
  color: #fff;
}

.nameplate-swap-car-container:hover{
  background-color: #00d3eb;
}

