.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    padding: 0 1rem;
    margin: 1rem;
    margin-bottom: 5rem;
}
.topLogo{
    width: 100px;
    height: 70px;
}